.git
.github
.gitignore
.editorconfig
.gitattributes
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
.vscode
.idea
node_modules
npm-debug.log
vendor
public/build
public/storage
public/hot
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/*.key
tests
Homestead.json
Homestead.yaml
docker-compose*.yml
docs
README.md
credenciales_istpet*.md
